@charset "UTF-8";

@import "~base/account/profile";

.newsletter-header {
    font-size: 2.3rem;
    font-weight: 500;
    line-height: 1.2;
}

.coupon-info {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
}
